.section-login {
  height: 100vh;
}

.section-login .login-form {
  padding-inline: 20rem;
}
.section-login ::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: #e2e2e2;
}
.section-login .login-form input {
  font-size: 1.6rem;
  font-weight: 400;
}
.login-form .nav {
  border-bottom: 1px solid #cacaca;
}
.login-form .tab-content {
  padding-block: 6rem;
}
.content-left .nav-container {
  margin-bottom: 6rem;
}
.content-left .nav-link {
  font-size: 2rem;
  font-weight: 400;
  color: inherit;
  flex-grow: 1;
  border: none;
}
.content-left .nav-link.active {
  background-color: transparent;
  font-weight: 700;
  color: var(--primary-color);
  padding-left: 0;
  padding-right: 0;
  border: none;
}
.content-left .nav-tabs .nav-link:focus,
.content-left .nav-tabs .nav-link:hover {
  border: none;
}
.content-left .nav-link.active::after {
  content: "";
  width: 100%;
  border: 2px solid var(--primary-color);
  display: block;
  transform: translateY(7px);
}

.login-content .nav-tabContent {
  padding-bottom: 4rem;
  text-align: center;
}

.content-left .tab-content .form-label {
  text-align: left !important;
}
.content-left .forgot-pass-text {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: right;
}

.login-title {
  font-size: 3.2rem;
  font-weight: 700;
  color: #0d1435;
  text-align: center;
  margin-bottom: 4rem;
}
.have-account-text {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 1250px) {
  .section-login .login-content {
    padding-inline: 6rem;
  }
  .content-right .desc {
    font-size: 3.5rem;
  }
  .bg-circle-img {
    width: 240px;
  }
}
